* {
  margin: 0px;
  padding: 0px;
}
body {
  font-size: 120%;
  /*background: silver;*/
  background-image:url("image.JPG");
  background-repeat: no-repeat;
  background-size: 100%;

}
.pic img{
  padding-top: 50px;
}
footer{
  background-color: white;
   color: red;
   text-align: center;
  margin-top: 100px;


}

.header img{padding-top: 10px;}
.header {
  width: 30%;
  margin: 50px auto 0px;
  color: white;
  background: rgb(100,20,50);
  text-align: center;
  border: 3px solid pink;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}
form, .content {
  width: 30%;
  margin: 0px auto;
  padding: 20px;
  border: 3px solid pink;
  background: rgb(70,60,90);
  border-radius: 0px 0px 10px 10px;
}
.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
label{color: white;}
a{color: gold;}
p{color: pink;}
.input-group input {
  height: 30px;
  width: 93%;
  color: maroon;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid blue;
}
.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: rgb(100,20,50);
  border: none;
  border-radius: 5px;
}
.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}
